extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/form-search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-changeMulti.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main 

  
  +alert-success(5000)
  +alert-error(5000)
  

  h1 Danh sách sản phẩm

  .card.mb-3 
    .card-header Bộ lọc và Tìm kiếm 
    .card-body 
      .row
        .col-6
          +filter-status(filterStatus)
        .col-6 
          +form-search(keyword)
  
  .card.mb-3
    .card-header Sắp xếp 
      .row
        .col-4 
          +sort()

  .card.mb-3 
    .card-header Danh sách 
      .card-body 
        .row.d-flex.align-items-center
            .col-lg-6
              +form-changeMulti(`
            ${prefixAdmin}/products/change-multi?_method=PATCH
          `)

            .col-lg-6.d-flex.justify-content-between
              .me-5
                a(href=`${prefixAdmin}/products/create`
                class="btn btn-outline-success") +Thêm mới
              .me-5
                a(href=`${prefixAdmin}/products/remove`) 
                  i.fa-solid.fa-trash-can.fa-lg
        table(
          class="table table-hover table-sm"
          checkbox-multi
        )
          thead 
            tr 
              th
                input(type="checkbox", name="checkAll")
              th STT 
              th Hình ảnh 
              th Tiêu đề
              th Giá
              th Vị trí
              th Trạng thái 
              th Hành động 
          
          each item, index in products
            tbody 
              tr 
                td 
                  input(type="checkbox" name="id"
                  value = item.id)
                td #{pagination.limitItems * (pagination.currentPage - 1) + (index + 1)}
                td 
                  img(src = item.thumbnail, alt= item.title
                  width ="100px"
                  height ="auto") 
                td #{item.title}
                td #{item.priceNew}$
                td 
                  input(
                    type="number"
                    value= item.position 
                    style= "width: 60px"
                    min= "1"
                    name = "position"      
                  )
                td 
                  //- a(href ="javascipt:;") là một pseudo-protocol (giả giao thức) trong HTML, cho phép chạy chạy một đoạn mã JavaScript khi liên kết được nhấp vào. Tuy nhiên, trong case này chỉ có dấu ";" sau nên liên kết này sẽ không dẫn đến bất kỳ URL nào và không thực hiện bất kỳ hành động nào khi được click vào. hành động sẽ được xử lí bằng code khác
                  if(item.status == "active")
                    a(href="javascript:;"
                    data-status ="In Stock"
                    button-changeStatus =""
                    data-id = item.id
                    class="badge badge-success") Hoạt động
                  else 
                    a(href="javascript:;"
                    data-status ="Out Stock"
                    button-changeStatus =""
                    data-id = item.id 
                    class="badge badge-danger") Dừng hoạt động
                    
                td 
                  a(
                    href=`${prefixAdmin}/products/detail/${item.id}`
                    class="btn btn-secondary btn-sm"
                  ) Chi tiết
                  a(
                    href=`${prefixAdmin}/products/edit/${item.id}`
                    class="btn btn-warning btn-sm"
                  ) Sửa
                  button(
                    class="btn btn-danger btn-sm ml-1"
                    button-delete
                    data-id= item.id
                  ) Xóa
  
  +pagination(pagination)

  //- khi chưa có API, tạo một form giả để thực hiện việc thay đổi trạng thái của sản phẩm
  //- để có thể sử dụng override method, nên để method là POST
  form(
    action =""
    method="POST"
    id ="form-changeStatus"
    data-path=`${prefixAdmin}/products/change-status`
  )

  form(
    action =""
    method="POST"
    id ="form-delete-item"
    data-path=`${prefixAdmin}/products/delete`
  )

  


  script(src="/admin/js/product.js") 
  
  

  

              
            
              
              
          