extends ../../layouts/default.pug

block main 
  .container.my-3 
    .row 
      .col-12 
        if(item.title)
          h1(class="mb-4") #{item.title}
        if(item.price)
          div(class="mb-4") Giá: 
            b #{item.price}$
        
        if(item.discountPercentage)
          div(class="mb-4") Giảm giá:
            b #{item.discountPercentage}%
        
        if(item.stock)
          div(class="mb-4") Còn lại
            b #{item.stock}
        
        if(item.thumbnail)
          div(class="mb-4")
            img(
              src= item.thumbnail
              style = "width: 100px"
            )
        
        if(item.position)
          div(class="mb-4") Vị trí: 
            b #{item.position}
        
        if(item.description)
          div(class="mb-4") #{item.description}